@using MVCDTO.SalesTasks
@using MVCClient.Configuration


@(Html.Kendo().Grid<ServicesInvoicePrimitiveDTO>()
    .Name("gridServiceInvoices")
    .Columns(columns =>
    {
        columns.Bound(c => c.Reference).DisplayNameTitle().Width(80);
        columns.Bound(c => c.EntryDate).DisplayNameTitle().Format("{0:" + SettingsManager.DateFormat + "}").Width(80);

        columns.Bound(c => c.CustomerName).DisplayNameTitle().Width(160);
        columns.Bound(c => c.CustomerTelephone).DisplayNameTitle().Width(100);
        columns.Bound(c => c.CustomerAddressNo).DisplayNameTitle().Hidden();
        columns.Bound(c => c.CustomerEntireTerritoryEntireName).DisplayNameTitle().Hidden();

        columns.Bound(c => c.ServiceContractCommodityName).DisplayNameTitle().Width(160);
        columns.Bound(c => c.ServiceContractLicensePlate).DisplayNameTitle().Width(80);
        columns.Bound(c => c.ServiceLineID).DisplayNameTitle().Width(80);
    })
    .ToolBar(toolbar =>
        {
            toolbar.Template(@<text>
                <div class="toolbar" style="float: right;">
                    <label>Nhập biển số, hoặc số khung, hoặc số máy:</label>
                    <input id="serviceInvoicesSearchBox" class="k-textbox" style="text-align: center; margin-right: 13px;" onkeyup="serviceInvoicesSearchBox_KeyUp()" />
                </div>
            </text>);
        })
    .Scrollable(s => s.Height(SettingsManager.PopupContentHeight))
    .DataSource(ds => ds.Ajax()
    .Read(read => read.Action("GetActiveServiceInvoices", "ServicesInvoiceApi").Data("onAdditionalGetActiveServiceInvoices"))
    .ServerOperation(true))
    .Selectable()
)


<script type="text/javascript">
    function onAdditionalGetActiveServiceInvoices(e) {
        return {
            locationID: window.parent.requireConfig.pageOptions.LocationID,
            serviceInvoiceID: window.parent.$("#ServiceInvoiceID").val(),
            licensePlate: $("#serviceInvoicesSearchBox").val(),
            isFinished: 0
        };
    }

    function serviceInvoicesSearchBox_KeyUp() {
        if ($("#serviceInvoicesSearchBox").val().length >= "@SettingsManager.AutoCompleteMinLenght") {
            $("#gridServiceInvoices").data("kendoGrid").dataSource.read();
        }
    }

    $("#gridServiceInvoices").dblclick(function (e) {
        okButton_Click();
    })

</script>