@using MVCModel.Models
@using MVCClient.Configuration


@(Html.Kendo().Grid<ServiceInvoiceResult>()
    .Name("gridServiceInvoices")
    .Columns(columns =>
    {
        columns.Bound(c => c.CustomerName).Title("Chủ xe").Width(18);
        columns.Bound(c => c.CustomerAddressNo).Title("Địa chỉ").Width(22);

        columns.Bound(c => c.ServiceContractCommodityName).Title("Loại xe").Width(14);
        columns.Bound(c => c.ServiceContractChassisCode).Title("Số khung").Width(16);
        columns.Bound(c => c.ServiceContractEngineCode).Title("Số máy").Width(12);
        columns.Bound(c => c.ServiceContractLicensePlate).Title("Biển số").Width(9);

        columns.Bound(c => c.EntryDate).Title("Ngày nhận").Width(9).Format("{0:" + SettingsManager.DateTimeFormat + "}");
    })
    .ToolBar(toolbar =>
        {
            toolbar.Template(@<text>
                <div class="toolbar" style="float: right;">
                    <label>Nhập biển số, hoặc số khung, hoặc số máy:</label>
                    <input id="serviceInvoicesSearchBox" class="k-textbox" style="text-align: center; margin-right: 13px;" onkeyup="serviceInvoicesSearchBox_KeyUp()" />
                </div>
            </text>);
        })
    .Scrollable(s => s.Height(SettingsManager.PopupContentHeight))
    .DataSource(ds => ds.Ajax()
    .Read(read => read.Action("GetActiveServiceInvoices", "ServicesInvoiceApi").Data("onAdditionalGetActiveServiceInvoices"))
    .ServerOperation(true))
    .Selectable()
)


<script type="text/javascript">
    function onAdditionalGetActiveServiceInvoices(e) {
        return {
            locationID: window.parent.requireConfig.pageOptions.LocationID,
            serviceInvoiceID: window.parent.$("#ServiceInvoiceID").val(),
            searchText: $("#serviceInvoicesSearchBox").val(),
            isFinished: 0
        };
    }

    function serviceInvoicesSearchBox_KeyUp() {
        if ($("#serviceInvoicesSearchBox").val().length >= "@SettingsManager.AutoCompleteMinLenght") {
            $("#gridServiceInvoices").data("kendoGrid").dataSource.read();
        }
    }

    $("#gridServiceInvoices").dblclick(function (e) {
        okButton_Click();
    })

</script>