@using MVCDTO.SalesTasks
@using MVCClient.Configuration

@*<div class="tabstrip-workspace">
    <div>*@
@(Html.Kendo().Grid<ContractibleInvoicePrimitiveDTO>()
    .Name("gridServiceContracts")
    .Columns(columns =>
    {
        columns.Bound(c => c.CustomerName).DisplayNameTitle().Width(141);
        columns.Bound(c => c.CustomerTelephone).DisplayNameTitle().Width(80);

        columns.Bound(c => c.ServiceContractCommodityName).DisplayNameTitle().Width(141);
        columns.Bound(c => c.ServiceContractEngineCode).DisplayNameTitle().Width(89);
        columns.Bound(c => c.ServiceContractLicensePlate).DisplayNameTitle().Width(70);

        columns.Bound(c => c.ServiceContractPurchaseDate).DisplayNameTitle().Width(65).Format("{0:" + SettingsManager.DateFormat + "}");
    })
    .ToolBar(toolbar =>
        {
            toolbar.Template(@<text>
                <div class="toolbar" style="float: right;">
                    <label>Nhập biển số, hoặc số khung, hoặc số máy:</label>
                    <input id="serviceContractsSearchBox" class="k-textbox" style="text-align: center; margin-right: 13px;" onkeyup="serviceContractsSearchBox_KeyUp()" />
                </div>
            </text>);
        })
    .Scrollable(s => s.Height(SettingsManager.PopupContentHeight))
    .DataSource(ds => ds.Ajax()
    .Read(read => read.Action("SearchServiceContracts", "ServiceContractsApi").Data("onAdditionalGetServiceContracts"))
    .ServerOperation(true))
    .Selectable()
)
    @*</div>
</div>*@

<script type="text/javascript">

    function onAdditionalGetServiceContracts(e) {
        return {
            searchText: $("#serviceContractsSearchBox").val()
        };
    }

    function serviceContractsSearchBox_KeyUp() {
        if ($("#serviceContractsSearchBox").val().length >= "@SettingsManager.AutoCompleteMinLenght") {
            $("#gridServiceContracts").data("kendoGrid").dataSource.read();
        }
    }

    $("#gridServiceContracts").dblclick(function (e) {
        okButton_Click();
    })
</script>