@using MVCModel.Models
@using MVCClient.Configuration


@(Html.Kendo().Grid<QuotationResult>()
    .Name("gridQuotations")
    .Columns(columns =>
    {
        columns.Bound(c => c.CustomerName).Title("Chủ xe").Width(18);
        columns.Bound(c => c.CustomerAddressNo).Title("Địa chỉ").Width(22);

        columns.Bound(c => c.ServiceContractCommodityName).Title("Loại xe").Width(14);
        columns.Bound(c => c.ServiceContractChassisCode).Title("Số khung").Width(16);
        columns.Bound(c => c.ServiceContractEngineCode).Title("Số máy").Width(12);
        columns.Bound(c => c.ServiceContractLicensePlate).Title("Biển số").Width(9);

        columns.Bound(c => c.EntryDate).Title("Giờ BG").Width(9).Format("{0:" + SettingsManager.TimeFormat + "}");
    })
    .ToolBar(toolbar =>
        {
            toolbar.Template(@<text>
                <div class="toolbar" style="float: right;">
                    <label>Nhập biển số, hoặc số khung, hoặc số máy:</label>
                    <input id="quotationSearchBox" class="k-textbox" style="text-align: center; margin-right: 13px;" onkeyup="quotationSearchBox_KeyUp()" />
                </div>
            </text>);
        })
    .Scrollable(s => s.Height(SettingsManager.PopupContentHeight))
    .DataSource(ds => ds.Ajax()
    .Read(read => read.Action("GetActiveQuotations", "QuotationsApi").Data("onAdditionalGetActiveQuotations"))
    .ServerOperation(true))
    .Selectable()
)


<script type="text/javascript">
    function onAdditionalGetActiveQuotations(e) {
        return {
            locationID: window.parent.requireConfig.pageOptions.LocationID,
            quotationID: window.parent.$("#QuotationID").val(),
            searchText: $("#quotationSearchBox").val(),
            isFinished: 0
        };
    }

    function quotationSearchBox_KeyUp() {
        if ($("#quotationSearchBox").val().length >= "@SettingsManager.AutoCompleteMinLenght") {
            $("#gridQuotations").data("kendoGrid").dataSource.read();
        }
    }

    $("#gridQuotations").dblclick(function (e) {
        okButton_Click();
    })

</script>
